<div class="widgets">

    <div class="row">
        <div class="col-md-12">
            <div ba-panel ba-panel-title="产品销售列表" ba-panel-class="with-scroll">
                <div class="horizontal-scroll">
                    <!--<div class="form-group select-page-size-wrap ">
                        <label>Rows on page
                            <select class="form-control selectpicker show-tick" title="Rows on page" selectpicker
                                    ng-model="smartTablePageSize" ng-options="i for i in [5,10,15,20,25]">
                            </select>
                        </label>
                    </div>-->

                    <table class="table" st-table="vm.pages.data" align="center">
                        <thead>
                            <tr class="sortable ">
                                <!--<th class="table-id" st-sort="id" st-sort-default="true">#</th>-->
                                <!--<th st-sort="firstName">First Name</th>
                                <th st-sort="lastName">Last Name</th>
                                <th st-sort="username">Username</th>
                                <th st-sort="email">Email</th>
                                <th st-sort="age">Age</th>-->
                                <td>名称</td>
                                <td>数量</td>
                                <td>类型</td>
                                <td>金额</td>
                                <td>电话/姓名</td>
                                <!--<td>地址</td>-->
                                <td>购买时间</td>
                                <td>出货</td>
                                <td>支付</td>
                            </tr>
                            <tr>
                                <th>
                                    <input cut-delay cut-delay-func="vm.go(1)" ng-model="vm.obj.title" placeholder="产品名称" class="input-sm form-control search-input" type="search" />
                                </th>
                                <th colspan="3"></th>
                                <th>
                                    <input cut-delay cut-delay-func="vm.go(1)" style="width:11em;" ng-model="vm.obj.buyer_tel" placeholder="手机号" class="input-sm form-control search-input" type="search" />
                                </th>
                                <th>
                                    <input type="text" style="width:11em;" ng-click="opened=true" ng-change="vm.go(1)" class="input-sm form-control" uib-datepicker-popup="{{vm.obj.format}}" ng-model="vm.obj.cdate" datepicker-options="dateOptions" is-open="opened" close-text="Close"
                                    />
                                </th>
                                <th>
                                    <switch color="primary" ng-model="vm.obj.isout" switch-change="vm.go(vm.obj.isout)"></switch>
                                </th>
                                <th>
                                    <switch color="primary" ng-model="vm.obj.isoff" switch-change="vm.go(1)"></switch>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in vm.pages.data">
                                <!--<td class="table-id">{{item.id}}</td>-->
                                <td style="width:20%">{{item.cp_name}}</td>
                                <td>{{item.buy_count}}</td>
                                <td>{{item.cp_type}}</td>
                                <td>{{item.buy_jine}}</td>
                                <td>
                                    {{item.buyer_tel}}
                                    <span ng-if="item.buyer_name">/{{item.buyer_name}}</span> &nbsp;
                                    <i ng-if="item.buyer_address" popover-animation="true" uib-popover-html="'<span style=color:black>{{item.buyer_address}}</span>'" class="fa fa-truck" aria-hidden="true"></i>
                                </td>
                                <!--<td>{{item.buyer_address}}</td>-->
                                <td>{{item.cdate}}</td>
                                <td>{{item.isout==true?'已出货':'未出货'}}</td>
                                <td><a ng-click="vm.out(!item.isout, item)">{{item.isout==true?'取消出货':'发货'}}</a></td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="8" class="text-center">
                                    <div class="pagination-sm" uib-pagination ng-model="vm.obj.pageNumber" force-ellipses="true" boundary-link-numbers="true" rotate="false" total-items="vm.pages.totalCount" items-per-page="vm.pages.size" max-size="5" num-pages="vm.pages.pageCount" direction-links="true"
                                        boundary-links="true" previous-text="上一页" next-text="下一页" first-text="首页" last-text="尾页" ng-click="vm.go()"></div>&emsp;共{{vm.pages.totalCount}}条记录
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>

</div>