.pagination> .disabled> a {
    background: none;
    &:hover,
    &:focus {
        background: none;
    }
}

.uib-datepicker-popup.dropdown-menu {
    color: #000;
    .btn {
        color: #000;
    }
    table {
        outline: none;
    }
}

// .table> tbody> tr> td {
//     vertical-align: middle;
// }