.pagination> .disabled> a {
    background: none;
    &:hover,
    &:focus {
        background: none;
    }
}

.uib-datepicker-popup.dropdown-menu {
    color: #000;
    .btn {
        color: #000;
    }
    table {
        outline: none;
    }
}

.table.noborder> tbody> tr> td {
    border-top: none;
}

// .table> tbody> tr> td {
//     vertical-align: middle;
// }
.upload-pro-img {
    position: relative;
    cursor: pointer;
    .userpic-wrapper {
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    img {
        border: 1px dashed #b8b8b8;
        max-width: 100%;
        max-height: 100%;
    }
    i {
        display: none;
        position: absolute;
        font-size: 32px;
        background: $default;
        cursor: pointer;
        color: $primary;
        top: -11px;
        right: -11px;
        height: 26px;
        border-radius: 50%;
        &:before {
            line-height: 26px;
        }
        &:hover {
            color: $danger;
        }
    }
    a.change-userpic {
        display: none;
        width: 100%;
        background: rgba(0, 0, 0, 0.7);
        transition: all 200ms ease-in-out;
        color: $default-text;
        text-decoration: none;
        position: absolute;
        bottom: -1px;
        left: -1px;
        line-height: 32px;
        text-align: center;
    }
    &:hover {
        i {
            display: block;
        }
        .change-userpic {
            display: block;
        }
    }
}